@charset "UTF-8";

/* 回答はここに書いてね */

.q5__horizontal__box__txt {       /*テキストのデザイン*/
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
  text-align: center;
}

.q5__text__align {                /*text-alignを利用した中央寄せ*/
  text-align: center;
}

.q5__textalign__inner {
  display: inline-block;
}

.q5__text__margin {               /*marginを利用した中央寄せ*/
  margin: auto;
}

.q5__table {
  display: table;
}

.q5__table__inner {     /*tableを利用した天地中央寄せ*/
  display: table-cell;
  background-color: #ecf1f2;
  text-align: center;
  vertical-align: middle;
}

.q5__table__txt {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.q5__flex {                         /*flexを利用した天地中央寄せ*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.q5__flex__txt {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.q5__position__box {                  /*position固定、外枠*/
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 0 10px;
  background-color: #fff;
  font-size: 16px;
  vertical-align: top;
}

.q5__position__box__inner {          /*position共通部分*/
  background-color: #e6f2ff;
  position: absolute;
  text-align: center;
}

.q5__position__box__inner.is-stable { /*position固定*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 110px;
  height: 30px;
  margin: auto;
  line-height: 30px;
  text-align: center;
}

.q5__position__box__inner.is-flexible {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  padding: 10px;
  text-align: center;
  transform: translate(-50%, -50%);
}


/* 回答はここに書いてね */
