@charset "UTF-8";

/* 回答はここに書いてね */

.q1__box {                        /*外枠*/
  background-color: #eff3f4;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  width: 900px;
}

.q1__square > li {                   /*三つの箱をul及びliで横並びに*/
  background-color: #3274ae;
  float: left;
  height: auto;
  margin-left: 20px;
  padding: 20px;
  width: 230px;
}

.q1__square > li:first-child {       /*最初の箱だけ外枠ピッタリに*/
  margin-left: 0;
}

.q1__small__square {                        /*内側の箱*/
  background-color: #eaf4ff;
  border:solid 10px #022336;
  box-sizing: border-box;
  height: auto;
  padding: 20px;
  width: 230px;
}

.q1__text {                       /*箱の中のテキストのデザイン*/
  font-size: 16px;
  line-height: 16px;
}

.clearfix::before,
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

/* 回答はここに書いてね */
