@charset "UTF-8";

/* 回答はここに書いてね */

.submit1 {                        /*外枠*/
  width: 900px;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  background-color: #eff3f4;
}

.square1 > li {                   /*三つの箱をul及びliで横並びに*/
  width: 270px;
  height: auto;
  background-color: #3274ae;
  margin-left: 20px;
  float: left;

}

.square1 > li:first-child {       /*最初の箱だけ外枠ピッタリに*/
  margin-left: 0;
}

.submit2 {                        /*内側の箱の枠*/
  width: 230px;
  height: auto;
  padding: 20px;
}

.square2 {                        /*内側の箱*/
  width: 230px;
  height: auto;
  padding: 20px;
  border:solid 10px #022336;
  background-color: #eaf4ff;
  box-sizing: border-box;
}

.box_text {                       /*箱の中のテキストのデザイン*/
  font-size: 16px;
  line-height: 16px;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* 回答はここに書いてね */
