@charset "UTF-8";

/* 回答はここに書いてね */

.q2__box {                          /*背景色のある外枠*/
  max-width: 940px;
  margin: 0 auto;
  background-color: #eff3f4;
}
.q2__small__box {                   /*実際に写真とテキストを入れる枠*/
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 20px;

  font-size: 18px;                  /*テキストのデザイン*/
  line-height: 22px;
  word-break: break-all;            /*テキストの折り返し*/
}

.q2__up__box {                      /*上半分の枠*/
  max-width: 900px;
}
.q2__under__box {                   /*下半分の枠*/
  max-width: 900px;
}

.q2__up__img {                      /*写真*/
  margin: 0 20px 10px 0;
  float: left;
}

.q2__under__img {                   /*写真*/
  margin: 0 0 10px 20px;
  float: right;
}


.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* 回答はここに書いてね */
